<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List of requested refunds</title>
</head>
<body>
<div class="container">
    <h1>Refunds</h1>
    <table class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Course name</th>
            <th>Course price</th>
            <td>Preview course</td>
            <div sec:authorize="hasRole('ROLE_AUTHOR')">
                <th>Course operations</th>
            </div>
        </tr>
        </thead>
        <tbody>
        <tr th:each="refund :  ${refundList}">
            <td th:text="${refund.user.username}"></td>
            <td th:text="${course.price}"></td>
            <form action="#" th:action="@{/no_refund/{id}(id=${refund.id})}" th:method="GET">
                <td><button type="submit" class="btn btn-danger">Decline refund</button></td>
            </form>
            <form action="#" th:action="@{/refund/{id}(id=${refund.id})}" th:method="GET">
                <td><button type="submit" class="btn btn-danger">Accept refund</button></td>
            </form>
<!--            <div sec:authorize="hasRole('ROLE_USER')">-->
<!--                <form action="#" th:action="@{/order/}" th:method="POST">-->
<!--                    <input type="hidden" name="username" id="userId" th:value="${#authentication.name}">-->
<!--                    <input type="hidden" name="course" id="course" th:value="${{course}}">-->


<!--                    <td><button type="submit" class="btn btn-success">Buy course</button></td>-->
<!--                </form>-->
<!--            </div>-->
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>