<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List of requested refunds</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Refunds</h1>
    <table class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>User username</th>
            <th>Refund comment</th>
            <th>Course name</th>
            <th>Refund operations</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="refund :  ${refundList}">
            <td th:text="${refund.user.username}"></td>
            <td th:text="${refund.refundComment}"></td>
            <td th:text="${refund.course.name}"></td>
            <form action="#" th:action="@{/admin/no_refund/{id}(id=${refund.id})}" th:method="GET">
                <td><button type="submit" class="btn btn-danger">Decline refund</button></td>
            </form>

            <form action="#" th:action="@{/admin/refund/{id}(id=${refund.id})}" th:method="POST">
                <input type="hidden" name="id" id="userId" th:value="${refund.user.id}">
                <input type="hidden" name="course" id="course" th:value="${{refund.course}}">
                <td><button type="submit" class="btn btn-danger">Accept refund</button></td>
            </form>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>