<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Index works!</h2>
    <div class="container">
<!--        <a class="btn btn-primary" th:href =  "@{/showNewEmployeeForm}"> Add Employee </a>-->
        <h1>Courses</h1>
        <table class="table table-striped table-responsive-md">
            <thead>
            <tr>
                <th>Course name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="course :  ${courseList}">
                <td th:text="${course.name}"></td>
<!--                <td><a th:href="@{/showEditEmployeeForm/{id}(id=${employee.id})}" class="btn btn-primary">Edit</a></td>-->
<!--                <td>-->
<!--                    <form method="POST" th:action="@{/deleteEmployee/{id}(id=${employee.id})}">-->
<!--                        <button type="submit" name="submit" value="value" class="btn btn-danger">DELETE</button>-->
<!--                    </form>-->
<!--                </td>-->
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>