<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a new course</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<body>
    <h1>Update course</h1>
    <form action="#" th:action="@{/course/save_course}" th:object="${course}" method ="POST">
        <input type="hidden" th:field="*{id}">

        <label for="category">Choose category</label>
        <select id="category" th:field="*{category}">
            <option th:each="category : ${categoryList}"
                    th:value="${{category}}"
                    th:utext="${category.categoryName}" />
        </select><br/>

        <label for="name">Course name</label>
        <textarea id="name" th:field="*{name}" placeholder="Course name" class="form-control col-4" rows="4" cols="50" maxlength="200" ></textarea>

        <label for="description">Course description</label>
        <input id="description" type="text" th:field="*{description}" placeholder="Course description" class="form-control col-4">

        <label for="price">Price</label>
        <input id="price" type="number" step="0.99" th:field="*{price}" placeholder="Course price" class="form-control col-4">

        <button type="submit" class="btn btn-info col-2">Save course</button>
    </form>
</body>
</html>