<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <title>Receipt</title>
    <style>
        body{
            display: flex;
            align-content: center;
            flex-direction: column;
        }
    </style>
</head>
<body>
<a class="btn btn-secondary" href="../logout">Logout</a>
<a class="btn btn-secondary" href="../">Home page</a>
<div class="mx-auto" style="width: 300px;" sec:authorize="hasRole('ROLE_USER')">
    <a>Your purchase is successful !</a><br/>
    <a>Date</a>
    <a href="#" class="badge badge-success" th:text="${receipt.orderDetails.order.date}"></a>
    <a>Price</a>
    <a href="#" class="badge badge-success" th:text="${receipt.orderDetails.price}"></a>
</div>
</body>
</html>
